<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
  <div class="card container container--single">
    <main class="main main--center main--pt-pb">
      <img class="main__content__container__img main__content__container__img--limit-landing-page" src="assets/icon-above-font.png" alt="logo Groupomania">
      <div class="form-group__buttons">
        <button class="btn" *ngIf="userId" (click)="onContinue()">Continuer vers Groupomania</button>
      </div>
    </main>
  </div>
</ng-template>