<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
  <div class="card container container--single">
    <main class="main main--center main--pt-pb">
      <img class="main__content__container__img main__content__container__img--limit-landing-page" src="assets/icon-above-font.png" alt="logo Groupomania">
      <h1>Réseau social interne de l'entreprise</h1>

      <div style="padding: 0 1rem; text-align: justify;">
        <h3>1. Ne pas publier de messages, liens ou images "offensants"</h3>
        <p>
          Tout matériel qui constitue une diffamation, un harcèlement ou un abus est strictement interdit. Les contenus sexuellement ou autrement obscènes, racistes ou excessivement discriminatoires ne sont pas autorisés ici. Cela inclut les photos des utilisateurs. 
          
          Faites preuve de bon sens lorsque vous postez des messages.
        </p>
        <h3>2. Ne publiez pas de matériel portant atteinte aux droits d'auteur</h3>
        <p>
          Il est interdit de fournir ou de demander des informations sur la manière d'obtenir illégalement des documents protégés par des droits d'auteur.
        </p>
        <h3>3. Evitez le spam</h3>
        <p>
          Est considéré comme spam la publication d'un grand nombre de messages (publicitaire ou non) sans pertinence ou sans intérêt et non sollicité.

        </p>
        <h3>4. Restez respectueux des autres membres</h3>
        <p>
          Toutes les publications doivent être courtoises et respectueuses des autres membres. Vous avez le droit d'être en désaccord avec les autres membres de la communauté et d'expliquer votre point de vue. Si aucun accord n'est obtenu, un défi en duel en bon et due forme doit être demandé.
        </p>
        <h2>
          Les messages ou les commentaires ne respectant pas ces règles seront modérés ou supprimés et les auteurs seront sanctionnés (sanction pouvant aller jusqu'à la suppression du compte en question).
        </h2>
      </div>


      <div class="form-group__buttons">
        <button class="btn" *ngIf="userId" (click)="onContinue()">Continuer vers Groupomania</button>
        <button class="btn" *ngIf="!userId" (click)="onToLogin()">Se connecter</button>
      </div>
    </main>
  </div>
</ng-template>