@import "../utils/mixins";
@import "../components/buttons";

.wall-container {
  display: flex;
  column-gap: 3.5rem;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto 2rem;

  @include mobile {
    flex-direction: column-reverse;
  }

  @include large {
    margin: auto;
  }

  main {
    width: 70%;
  
    @include mobile {
      width: auto;
    }
  }

  aside {
    background: #FDFDFD;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  
    width: 30%;
    border-radius: 10px;
    height: fit-content;
    margin: 2rem 0;
  
    @include mobile {
      display: none;
    }
  
    h2 {
      text-align: center;
  
      & fa-icon {
        color: green;
      }
    }
  }
}