  <!-- Loading spinner -->
<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
  <div class="card container">
    <main class="main main--center">
      <section class="btn--close">
        <button>
            <fa-icon [icon]="faCircleXmark" (click)="close()"></fa-icon>
        </button>
      </section>
      <form [formGroup]="updateCommentForm">
          <div class="form-group">
              <label for="content"></label>
              <textarea class="form-group__textarea form-group__textarea--big" id="content" type="text" formControlName="content"></textarea>
          </div>
          <div class="form-group">
              <label for="attachment-{{comment.id}}"></label>
              <input id="attachment-{{comment.id}}" type="file" (change)="onFileSelected($event)" #fileUpload style="display: none;">
              <div class="form-group__img-manager">
                {{fileUpload.value || 'Aucun fichier séléctionné'}}
        
                <button class="btn--small" (click)="fileUpload.click()">
                  <fa-icon [icon]="faImage"></fa-icon> 
                </button>
              </div>
              <button *ngIf="fileUpload.value" class="btn--small" (click)="clearAttachmentInput()">
                <fa-icon [icon]="faCircleXmark"></fa-icon>
              </button>
          </div>
          <button *ngIf="comment.attachment" type="submit" class="btn--small" (click)="onDelPicture()">
            <fa-icon [icon]="faTrashCan"></fa-icon>
            Supprimer l'image actuelle
          </button>
          <div class="form-group__buttons">
              <button class="btn" type="submit" (click)="onUpdateComment()" [disabled]="fileUpload.value && errorAttachment">Modifier</button>
          </div>
          <app-info-box [infoBox]="infoBox"></app-info-box>
      </form>
    </main>
  </div>
</ng-template>