@import "../utils/mixins";
@import "../components/buttons";

.container {
    display: flex;
    overflow: hidden;
    padding: 0;
    margin: 2rem 0;
  
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &--pink-border{
      border: 2px solid rgba(255, 0, 0, 0.38);
    }

    &--single {
        margin: 2rem auto !important;

        &__auth {
          width: 50%;
          margin: 20px auto;
          padding: 10px 30px;
          text-align: center;
        }
    }

    @include desktop {
      margin: auto auto 2rem auto;

      &:first-child{
        margin-top: 2rem;
      }
    }
    
    @include large {
      margin:  auto auto 2rem auto;

      &:first-child{
        margin-top: 2rem;
      }
    }

    &--comment {
      margin: 20px auto;

      &__header {
        display: flex;

        &__avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          object-fit: scale-down;
          margin-right: 0.5rem;
        }
      }

      &__content {
        border-left: solid 1px darkgray; 
        margin: 0 25px; 
        padding: 1rem 2rem;
      }

      &__attachment {
        text-align: center; 
        border-left: solid 1px darkgrey; 
        margin-left: 25px;
      }
    
      &__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        border-left: solid 1px darkgrey;
        margin: 0 25px;
      }
    }
    
  
    .main {
      display: flex;
      flex-direction: column;
      width: 100%;

      &--center {
        text-align: center;
      }

      &--pt-pb {
        padding: 1rem 0;
      }
    
      &__back-link {
        margin: 0.5rem 0;
    
        &:hover{
            font-style: italic;
        }
      }
    
      &__header {
        background-color: #FFE0E0;
        width: 100%;
        height: auto;
        min-height: 3rem;
        margin: 0;
  
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 1rem;
        padding-bottom: 1rem;

        &--center {
          @include flex-center;
        }

        &__text {
          margin: 0;
        }
    
        &__user-link{
          color: darkred;
          cursor: pointer;
        
          &:hover{
              text-decoration: underline;
          }
        }
      }

      & .form-group {
        margin: 10px auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
          & input {
            width: 100% !important;
          }
          & label {
            display: none;
          }
          &__buttons {
            & button {
              width: 80% !important;
            }
          }
        }


        &--password-container {
          position: relative;
        }

        & .passwordEyeIcon {
          position: absolute;
          right: 0;
          padding-right: 2px;
          z-index: 999;

          @include flex-center
        }

        &--create-post {
          margin: 0 !important;
          width: 100% !important;
          padding: 0 1rem 1rem 1rem !important;
        
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);

          &__bubble-pic {
            width:20%;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
            @include flex-center;

            & img {
              width: 100%;
              height: 100%;
            }
          }
        }

        & button {
          margin: 1rem;
        }

        & input {
          width: 50%;
        }

        &__textarea {
          width: 50%;
          height: 100px;
          border-radius: 5px;
          padding: 10px;
          margin-left: 1rem;

          &--big{
            width:100%;
            border: 1px solid lightgray;
          }
        }

        &__img-manager{
          display: flex; 
          justify-content: space-between; 
          align-items: center; width: 100%; 
          margin-left: 2rem;
          & button{
            border-radius: 50%;
            background-color: lightpink;
            overflow: hidden;
            @include flex-center;
            height: 2rem;
            width: 2rem;
            cursor: pointer;
          }
            :hover{
              background-color: lightgreen; 
            }
          & fa-icon {
            font-size: 1rem;
            cursor: pointer;
          }
        }

        &__buttons {
          width: 100%;
          margin: 2rem auto;

          &--create-com {
            @include flex-center
          }
        }

        &__alert-msg {
          text-align: center;
        }
      }
    
      &__content {
          display: flex;
          align-items: center;
          text-align: justify;
          flex-direction: column;
    
          &__check-container {
            margin-top: 1rem;
            margin-bottom: 10px;
            position: relative;
            width: 100%;
            height: 3.7rem;
          
            display: flex;
            align-items: center;
          
            & .checkbox {
                display: none;
          
                &__label {
                  cursor: pointer;
                  margin-right: 1rem;
                  position: absolute;
                  right: 1rem;
            
                  &__icons {
                      @include flex-center;
                      position: relative;
                  
                      & fa-icon {
                          position: absolute;
                          margin: auto;
                          font-size: 1.5rem;
                      }
                  }
            
                  &:hover{
                      color: darkred;
                      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
                  }
            
                  & .right-arrow{
                      opacity: 0;
                  }
              }
            }
          
            .main__content__options {
                position: absolute;
                @include flex-center;
                right: 0;
                top:0;
                height: 100%;
                padding-right: 10px;
                transform: translateX(100%);
                transition: transform 0.2s;

                & .report-container {
                  height: 100%;
                }

                & button {
                  height: 100%;
                }
            }
          
            & .checkbox:checked ~ .checkbox__label{
                &.xl-fit{
                  right: 19rem;
                }
                &.l-fit{
                    right: 17rem;
                }
                &.m-fit{
                  right: 11rem !important;
                }
                &.s-fit{
                    right: 6rem;
                }
          
                & .right-arrow{
                    opacity: 1;
                }
          
                & .left-arrow{
                    opacity: 0;
                }
            }
          
            & .checkbox:checked ~ .main__content__options {
                transform: translateX(0%);
                transition: transform 0.2s;
            }
          }
    
          &__container {
            width: 100%;
            height: fit-content;
            @include flex-center;

            &--col{
              flex-direction: column;
            }
            &--row{
              flex-direction: row;

              @include mobile {
                flex-direction: column;
              }
            }

            & .empty-bio {
              font-style: italic;
            }
    
            &__img {
              width: 100%;
              height: auto;
              object-fit: cover;
              padding: 1rem;

              &--limit {
                max-width: 250px;
              }

              &--limit-landing-page {
                max-width: 500px;
                margin: auto;
              }
            }
    
            & .long-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .see-more {
                font-weight: bold;
                font-size: 0.8rem;
                margin: auto;
            }

            &__text {
              text-align: justify;
              padding: 1rem;
              margin: auto;        
              white-space: pre-wrap;

              &--center {
                @include flex-center;
              }

              &--col-start {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
              }

              & table {
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;

                & tbody {
                  display: table-row-group;
                  vertical-align: middle;
                  border-color: inherit;

                  & tr {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                    padding: 1rem 0;
                    &:last-child {
                      border-bottom: none;
                    }

                    & td {
                      padding: 0.5rem;

                      &:first-child {
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }
          
          &__edit-post-container {
            width: 100%;
          }
      }
    
      &__footer {
          height: 3rem;
          background-color: darken(#FDFDFD, 3%);
    
          display: flex;
          justify-content: space-around;
          align-items: center;

          @include mobile {
            flex-direction: column;
            height: auto;
            row-gap: 5px;
          }

          &--profile{
            margin: 0 1rem;

            &__log {
              padding-top: 2rem;
              font-size: 0.9rem;
  
              & a {
                color: darken(#FFE0E0, 25%);

                &:hover {
                  color: darken(#FFE0E0, 60%);
                }
              }
            }
          }
      }
    
      &__comments-container{
        @include flex-center;
        flex-direction: column;
    
        &__cards {
          // width: 80%;
          width: 100%;
        }
      }
    } 
  }