@import "../../sass/utils/mixins";

header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  min-height: 5rem;
  background-color: #FDFDFD;

  & .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: auto;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      column-gap: 2rem;
      width: 100%;
      max-width: 1200px;
      padding: 0 2rem;

      @include mobile {
        justify-content: space-between;
        margin-top: 0.5rem;
      }
    }
  
    & .logo{
      &--small{
        display: block;
        width: 4rem;
      }
  
      &--large{
        display: none;
      }
  
      @include desktop {
        &--large {
          display: block;
          width: 260px;
          height: auto;
        }
        &--small{
          display: none;
        }
      }

      @include large {
        &--large {
          display: block;
          width: 260px;
          height: auto;
        }
        &--small{
          display: none;
        }
      }
  
      @include mobile {
        &--large {
          display: block;
          width: 260px;
          height: auto;
        }
        &--small{
          display: none;
        }
      }
    }

    &__icons-controllers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 3rem;
      margin-left: 5rem;

      /* Dropdown Button */
    .dropbtn {
      background-color: transparent;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;

      button {
        cursor: pointer;
      }
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      right: 0;
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    }

    .nav-btn {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
      &:hover {
        filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.8));
      }
    }

    &__list {
      display: none;
    }

    &__search {
      width: 620px;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;

      &::placeholder {
        color: #FF0000;
        padding-left: 2rem;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
      }
    }

    @include mobile {
      &__search{
        display: none;
      }

      &__list {
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;

        &--icon {
          font-size: 2rem;
          color: darkgrey;
        }

        &__elements {
          display: none;

          @include mobile {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin: 1rem auto 1rem 3.7rem;

            & a {
              padding: 1rem;
              width: 10rem;
              color: #333;
              text-decoration: none;

              &.active {
                color: #666;
                text-decoration: underline;
              }
  
              &:hover {
                background-color: #FFE0E0;
                text-decoration: none;
              }
            }
  
            &__isAuth {
              display: flex;
              flex-direction: column;
            }
          }
        }
      } 

      &__icons-controllers {
        display: none;
      }
    }
  }
}


.hide {
  display: none;

  @include mobile {
    display: block;
  }
}