.card__aside {
    height: 200px;
    width: 85%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background: rgba(196, 196, 196, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    &:hover {
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
    }

    & .card__link{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 0.5rem;
        padding: 0.5rem 0;

        & .main-content {
            &__container{
                height:calc(100% - 3rem); 
                width: 100%; 
                display: flex; 
                flex-direction: column;
                justify-content: space-between; 
                align-items: center;
                row-gap: 0.5rem;
            }

            &__img {
                max-width: 100px; max-height:80%;
            }

            &__text{
                width: 100%;
                margin: auto;
                padding: 0 1rem;
                text-align: center;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p {
            margin: 0;
            font-size: 0.9rem;
        }
    
        .user-link{
            color: darkred;
            z-index: 999;
        
            &:hover{
                text-decoration: underline;
            }
        }
    }
}