<!-- Loading spinner -->
<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
  <div class="card container container--single container--single__auth" *ngIf="userId; else login">
    <main class="main">
      <h2>Êtes-vous sûr de vouloir vous déconnecter ?</h2>
      <button class="btn btn--center" type="submit" (click)="onLogout()">Se déconnecter</button>
      
      <app-info-box [infoBox]="infoBox"></app-info-box>
    </main>
  </div>
  
  <ng-template #login>
    <div class="card container container--single container--single__auth">
      <main class="main">
        <h2>Se connecter</h2>
        <form [formGroup]="loginForm">   
          <div class="form-group">
              <label for="email">E-mail </label>
              <input id="email" type="email" formControlName="email" placeholder="Adresse e-mail">
          </div>
          <div class="form-group form-group--pos-relative">
              <label for="password">Mot de passe </label>
              <input id="password" [type]="visiblePassword? 'text' : 'password'" formControlName="password" placeholder="Mot de passe">
                  <fa-icon class="passwordEyeIcon" [icon]="visiblePassword? faEye : faEyeSlash" (click)="toggleVisibility()"></fa-icon>
          </div>
          <div class="form-group__buttons">
              <button class="btn" type="submit" (click)="onLogin()" [disabled]="loginForm.invalid">Se connecter</button>
          </div>
          <app-info-box [infoBox]="infoBox"></app-info-box>
        </form>
    
        <p class="main__footer--profile__log">Pas encore de compte? <a routerLink="/register">Inscrivez-vous</a></p>
      </main>
    </div>
  </ng-template>
</ng-template>