@import"https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap";

/* Utils */
@import "utils/mixins";
@import "utils/animations";

/* Base */
@import "base/base";
@import "base/normalize";

/* Pages */
@import "pages/admin-dashboard";
@import "pages/post-list";

/* Components */
@import "./components/buttons";
@import "./components/loading";
@import "./components/info-box";
@import "./components/dropdown";
@import "./components/search-bar";

/* Layouts */
@import "./layouts/header";
@import "./layouts/sidebar";
@import "layouts/container";