.btn--close {
    display: flex; 
    justify-content: flex-end; 
    padding:0.5rem 1rem;

    & button {
        width:20px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border:none;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
            filter: drop-shadow(0 4px 4px $color-soft-box-shadow);
        }
    }
}

.btn {
    background: $color-btn-primary;
    border-radius: 8px;
    min-height: 2rem;
    width: 15rem;
    box-shadow: 0 0 15px $color-box-shadow;

    &--center{
        margin: auto;
    }

    &:hover{
        box-shadow: 0 4px 8px 0 $color-box-shadow-hover; 
    }
}

.btn--small {
    background-color: $color-btn-secondary;
    border-radius: 8px;
    min-height: 2rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 15px $color-box-shadow;

    &:hover{
        box-shadow: 0 4px 8px 0 $color-box-shadow-hover; 
    }
}


.btn-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-noBg {
    border: none; 
    border-radius: 8px;
    background-color: white;
    margin-right: 8px;
    cursor: pointer;

    & .faCircleExclamation {
        color: $color-exclamation-mark;
    }
    & .faThumbsUp, .faPenToSquare {
        color: $color-validation-mark;
    }
    & .faTrash, .faUserSlash {
        color: $color-trash-slash-mark;
    }
    & .faUserGraduate {
        color: $color-graduate-mark;
    }


    &:last-child{
        margin-right: 0;
    }

    & div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        row-gap: 10px;
        padding: 5px;
    }

    & p {
        margin: 0;
    }
  
    &:hover{
        box-shadow: 0 4px 8px 0 $color-box-shadow-hover; 
    }
}

.btn-chevron {
    border:none;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        color: darkred;
        filter: drop-shadow(0 4px 4px $color-user-link-hover);
    }
}


.points {
    width: 3rem;
    background-color: $color-btn-secondary;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    &__container {
        &--col {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 0.5rem;
        }
      
        button{
          border: none; 
          background-color: transparent;
          height: 2rem;
          cursor: pointer;
        }
      
        fa-icon{
            font-size: 1.5rem;

            :hover{
                opacity: 0.75;
            }
        }
      }
}


// to the top button
#myBtn {
    opacity: 0; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
  
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 1.5em !important; /* Increase font size */
  }
  
  #myBtn:hover {
    color: $color-rocket;
    & fa-icon {
        filter: drop-shadow(-4px 4px 1px $color-flame);
    }

  }
  
  .show-scrollTop {
    opacity: 1 !important;
    transition: all 0.2s ease-in-out;
  }
  
  #myBtn {
      -moz-transform: rotate(315deg);
      -webkit-transform: rotate(315deg);
      -o-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      transform: rotate(315deg);
  }