.container-info-box{
    width:100%;
    padding: 0 2rem;
}

.success-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 5px solid #4CAF50;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    animation: disappearing-box 0.5s 3s forwards; /* The 'success message' is displayed for 3s and disappears in 0.5s */

    &--hide {
        display: none;
    }

    &__icon {
        color: #4CAF50;
        font-size: 1.5rem;
    }

    &__text {
        margin-left: 1rem;
    }
}

.error-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: 5px solid #F44336;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    animation: disappearing-box 0.5s 3s forwards; /* The 'error message' is displayed for 3s and disappears in 0.5s */

    &--hide {
        display: none;
    }

    &__icon {
        color: #F44336;
        font-size: 1.5rem;
    }

    &__text {
        margin-left: 1rem;
    }
}