<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
    <div class="container--comment" id="com-{{ com.id }}">
        <section class="container--comment__header">
            <div>
                <img class="container--comment__header__avatar" src="{{ com.User.avatar? com.User.avatar : '../../assets/default-profile-picture.jpg' }}" alt="{{ com.User.name }}">
            </div>
            <p>
                <a class="main__header__user-link" routerLink="/profil/{{com.User.id}}">{{ com.User.username }}</a> 
                 - il y a {{ calculateDiff() }}
            </p>  
        </section>

        <a class="card__link" routerLink="/wall/{{com.postId}}">
            <p class="container--comment__content">
                        {{ com.content }}
                    </p>
            <div class="container--comment__attachment">
                <img *ngIf="com.attachment" [src]="com.attachment" alt="">
            </div>
        </a>
            
        <div class="container--comment__btn">
            <div class="points__container">
                <button [ngStyle]="(findRightUser() =='like')? {'color':'green'} : {} " id="likeCom-{{ com.id }}" type="submit" (click)="onLikeComment()">
                    <fa-icon [icon]="faCircleUp"></fa-icon>
                </button>
                <span id="pointsCom-{{ com.id }}">
                    {{ com.points }}
                </span>
                <button [ngStyle]="(findRightUser() == 'dislike')? {'color':'darkred'} : {} " id="dislikeCom-{{ com.id }}" type="submit" (click)="onDislikeComment()">
                    <fa-icon [icon]="faCircleDown"></fa-icon>
                </button>
            </div>
    
            <div class="dropdown">
                <input type="checkbox" id="dropdown-{{ com.id }}" class="checkbox" (click)="closeOtherCheckboxes()">
                <label for="dropdown-{{ com.id }}" class="dropbtn dropbtn--box">
                    <fa-icon [icon]="faCircleEllipsisVertical"></fa-icon>
                </label>
                <div class="dropdown-content dropdown-content--lower">
                    <a *ngIf="userId == com.User.id || isAdmin" (click)="loadChildComponent()">
                        <fa-icon [icon]="faPenToSquare" class="faPenToSquare"></fa-icon>
                        Editer
                    </a>
                    <a *ngIf="userId == com.User.id || isAdmin" (click)="onDeleteComment()">
                        <fa-icon [icon]="faTrash" class="faTrash"></fa-icon>
                        Supprimer
                    </a>
                    <a *ngIf="com.isSignaled && isAdmin; else report" (click)="onUnreportComment()">
                        <fa-icon [icon]="faThumbsUp" class="faThumbsUp"></fa-icon>
                        Valider
                    </a> 
                    <ng-template #report>
                        <a (click)="onReportComment()">
                            <fa-icon [icon]="faCircleExclamation" class="faCircleExclamation"></fa-icon>
                            Signaler
                        </a>
                    </ng-template>

                </div>
            </div>
        </div>
        <app-update-a-comment *ngIf="loadUpdateComment" [comment]="com" (commentUpdated)="triggeredFromChildren($event)"></app-update-a-comment>
    </div>

    <app-info-box [infoBox]="infoBox"></app-info-box>
</ng-template>