<!-- Loading spinner -->
<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
  <div *ngIf="isAdmin" class="dashboard-container">
    <header class="dashboard-container__card">
        <h2>Admin Dashboard</h2>
    </header>

    <div class="dashboard-container__card">
      <div class="tab">
        <input type="checkbox" id="chck1" (change)="loadUsers($event)">
        <label class="tab-label" for="chck1">
            <h2>Gestion des utilisateurs</h2>
            <p>Cliquez ici pour rechercher un utilisateur</p>
        </label>
        <div class="tab-content">
          <form class="dashboard-container__card__form" [formGroup]="userForm">
            <div class="form-group">
              <label for="select-user" class="select-user__label">User : </label>
              <input 
                      list="user-list" 
                      name="select-user" 
                      id="select-user"
                      class="select-user" 
                      type="text"
                      autocomplete="off" 
                      formControlName="users"
                      placeholder="Recherche par pseudo"
                      (change)="getSelectedUser($event)">
              <datalist id="user-list">
                <option *ngFor="let user of users" [attr.data-value]="user.id">
                  {{user.username}}
              </datalist>
            </div>

            <button class="btn" type="submit" (click)="onSubmitForm()" [disabled]="userForm.invalid">Submit</button>
          </form>         
    
          <app-info-box [infoBox]="infoBox"></app-info-box>

          <div class="selected-user" *ngIf="displayProfile!= 0">
            <app-profile *ngIf="displayProfile" [displayProfile]="displayProfile"></app-profile>
          </div>

        </div>
      </div>
    </div>

    <div class="dashboard-container__card">
      <div class="dashboard-container__card__empty" *ngIf="!posts.length; else signaledMsg">
        <h2>Gestion des messages signalés</h2>
        <p>Aucun message signalé</p>
      </div>

      <ng-template #signaledMsg>
        <div class="tab">
          <input type="checkbox" id="chck2">
          <label class="tab-label" for="chck2">
            <h2>Gestion des messages signalés</h2>
            <p *ngIf="posts.length == 1">Vous avez 1 message signalé, cliquez pour le voir.</p>
            <p *ngIf="posts.length != 1">Vous avez {{ posts.length }} messages signalés, cliquez pour les voir</p>
          </label>
          <div class="tab-content" >
              <app-reported-post-list class="reported-msg" [infoFromDashboard]="infoToPost" (reportedPostListEvent)="triggeredFromChildren($event)"></app-reported-post-list>
          </div>
        </div>
      </ng-template>
    </div>
    
    <div class="dashboard-container__card">
      <div class="dashboard-container__card__empty" *ngIf="!comments.length; else signaledCom">
        <h2>Gestion des messages signalés</h2>
        <p>Aucun message signalé</p>
      </div>

      <ng-template #signaledCom>
        <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">
              <h2>Gestion des commentaires</h2>
              <p *ngIf="comments.length == 1">Vous avez 1 commentaire signalé, cliquez pour le voir.</p>
              <p *ngIf="comments.length != 1">Vous avez {{ comments.length }} commentaires signalés, cliquez pour les voir</p>
            </label>
          <div class="tab-content" >
            <app-reported-comment-list [infoFromDashboard]="infoToComment" (reportedCommentListEvent)="triggeredFromChildren($event)"></app-reported-comment-list>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <app-is-not-logged *ngIf="!isAdmin"></app-is-not-logged>
</ng-template>