<!-- Loading spinner -->
<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
  <div class="card container container--pink-border">
    <main class="main main--center main--pt-pb">
      <form [formGroup]="postForm"> 
          <div class="form-group form-group--create-post">
              <div class="form-group--create-post__bubble-pic">
                <img src="{{ user.avatar? user.avatar : '../../assets/default-profile-picture.jpg' }}" alt="Photo de profil de {{user.username}}">
              </div>
                <label for="content" ></label>
                <textarea class="form-group__textarea form-group__textarea--big" name="content" id="content" form="postForm" formControlName="content"  placeholder="What's on your mind?"></textarea>        
          </div>
        <div class="form-group">
            <label for="attachment"></label>
            <input id="attachment" type="file" (change)="onFileSelected($event)" #fileUpload style="display: none;">
            <div (mouseover)="imgHelper(true)" (mouseout)="imgHelper(false)" class="form-group__img-manager">
              {{fileUpload.value || 'Aucun fichier séléctionné'}}

              <button class="btn--small" (click)="fileUpload.click()">
                <fa-icon [icon]="faImage"></fa-icon> 
              </button>
            </div>
            <button *ngIf="fileUpload.value" class="btn--small" (click)="clearAttachmentInput()">
              <fa-icon [icon]="faCircleXmark"></fa-icon>
            </button>
        </div>
        <div *ngIf="imgHelperBoolean" class="form-group__img-helper">
          <span>Formats acceptés : jpg, jpeg, png, gif ou webp</span>
          <span>Taille maximum : 5Mo</span>
        </div>

        <div class="form-group__buttons">
            <button class="btn" type="submit" (click)="onPost()" [disabled]="!postForm.controls['content'].value && errorAttachment">Poster</button>
        </div>
        <app-info-box [infoBox]="infoBox"></app-info-box>
      </form>
    </main>
  </div>
</ng-template>