  <!-- Loading spinner -->
<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
  <div class="container--comment">
      <section class="container--comment__header">
          <div>
              <img class="container--comment__header__avatar" src="{{ post.User.avatar? post.User.avatar : '../../assets/default-profile-picture.jpg' }}" alt="{{ post.User.username }}">
          </div> 

          <p>
            ~~ Commenter ce post ~~
        </p> 
      </section>

      <form [formGroup]="commentForm">   
        <div class="form-group">
        <label for="content"> </label>
        <textarea class="form-group__textarea form-group__textarea--big" id="content" type="text" formControlName="content" placeholder="Votre commentaire..."></textarea>
      </div>
      <div class="form-group">
          <label for="attachment-newComment"></label>
          <input id="attachment-newComment" type="file" (change)="onFileSelected($event)" #fileUpload style="display: none;">
          <div class="form-group__img-manager">
            {{fileUpload.value || 'Aucun fichier séléctionné'}}

            <button class="btn--small" (click)="fileUpload.click()">
              <fa-icon [icon]="faImage"></fa-icon> 
            </button>  
          </div>
          <button *ngIf="fileUpload.value" class="btn--small" (click)="clearAttachmentInput()">
            <fa-icon [icon]="faCircleXmark"></fa-icon>
          </button>
        </div>
          <div class="form-group__buttons form-group__buttons--create-com">
              <button class="btn" type="submit" (click)="onComment()" [disabled]="!commentForm.controls['content'].value && errorAttachment">Enregistrer</button>
          </div>
          <app-info-box [infoBox]="infoBox"></app-info-box>
      </form>
  </div>
</ng-template>