<!-- Loading spinner -->
<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
    <app-comment *ngFor="let comment of comments" [com]="comment" (dataEmited)="triggeredFromChildren($event)"></app-comment> 
    <div class="button-container">
        <button 
                *ngIf="comments && totalComments && (comments.length<totalComments)" 
                (click)="loadMoreReportedComs()"
                class="btn">
                Afficher plus de commentaires
        </button>
    </div>
</ng-template>