<div *ngIf="(isAuth!= null); else denied">
    <div class="wall-container">
        <!-- Back to the top button -->
        <button (click)="scrollToTop()" id="myBtn" title="Go to top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
            <fa-icon [icon]="faRocket" class="rocket"></fa-icon>
        </button>
        <main>
            <div>
                <app-create-a-post></app-create-a-post>
            </div>
            
            <app-post *ngFor="let post of posts$ | async" [post]="post"></app-post>    
        </main>
        <aside>
            <h2>
                Tendances 
                <fa-icon [icon]="faArrowTrendUp"></fa-icon>
            </h2>
            <app-most-popular *ngFor="let post of postsSorted$ | async | slice:0:5" [post]="post"></app-most-popular>  
        </aside>
    </div>
</div>



<ng-template #denied>
    <div class="card card--denied">
        <h2>Veuillez vous connecter pour accéder à cette page</h2>
        <button class="btn" (click)="onToLogin()">Se connecter</button>
    </div>
</ng-template>

