<app-loading *ngIf="loading; else loaded"></app-loading>

<ng-template #loaded>
    <div *ngIf="userId; else denied">
        <div class="wall-container">
            <!-- Back to the top button -->
            <button (click)="scrollToTop()" id="myBtn" title="Go to top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
                <fa-icon [icon]="faRocket" class="rocket"></fa-icon>
            </button>
            <main>
                <div>
                    <app-create-a-post></app-create-a-post>
                </div>

                <div class="nav__search">
                    <input  type="text" 
                            class="nav__search__input" 
                            id="search-text" 
                            aria-describedby="search-text" 
                            [(ngModel)]="searchText" 
                            placeholder="Rechercher un post..." 
                            autocomplete="off"
                    >
                    <button class="nav__search__btn" (click)="clearSearch()">
                        <fa-icon [icon]="faCircleXmark"></fa-icon>
                    </button>
                </div>
                
                <app-post *ngFor="let post of posts | filter: searchText" [post]="post"></app-post>  
                <div *ngIf="(posts | filter: searchText) && (posts | filter: searchText).length=== 0" class="card  card--denied">
                    <h2>
                        Aucun résultat pour cette recherche
                    </h2>
                </div> 
            </main>
            <aside>
                <h2>
                    Tendances 
                    <fa-icon [icon]="faArrowTrendUp"></fa-icon>
                </h2>
                <app-most-popular *ngFor="let post of topPosts" [post]="post"></app-most-popular>  
            </aside>
        </div>
    </div>
</ng-template>

<ng-template #denied>
    <div class="card card--denied">
        <h2>Veuillez vous connecter pour accéder à cette page</h2>
        <button class="btn" (click)="onToLogin()">Se connecter</button>
    </div>
</ng-template>