<div class="card__aside">
    <a class="card__link" routerLink="{{post.id}}">
        <section class="main-content__container">
            <img class="main-content__img" *ngIf="post.attachment" [src]="post.attachment" alt="{{ post.attachment }}">
            <p class="main-content__text" *ngIf="post.content">{{ post.content }}</p>  
        </section>

        <footer>
            <p>
                Publié par <a class="user-link" routerLink="/profil/{{post.User.id}}">{{ post.User.username }}</a>
            </p>
            <p>
                il y a {{ calculateDiff() }}
            </p>
        </footer>
    </a>
</div>